<h1>Welcome, <%= @user.email %></h1>
<p>Your Games</p>
<% @user.games.each do |game| %>
  <li><%= link_to "#{game.title}", game_path(game) %></li>
<% end %>
<%= link_to "Add a Game",  new_game_path %>
