<div class="col-10 offset-1 text-center">
  <br>
  <h1 >WELCOME TO GAME TRACKER!</h1>
  <% if signed_in? %>
    Hello, <%= current_user.username %>  
  <% else %>
    <p>Please sign up or log in!</p>
  <% end %>
</div>
