<% if game.completed %>
  <h3>Game Completed!</h3>
  <p><i class="fa fa-check-square-o" aria-hidden="true"></i></p>
<% else %>
  <h3>Game Not Completed</h3>
  <p><i class="fa fa-square-o" aria-hidden="true"></i></p>
<% end %>
