
  <div class="col-12 text-center">
    <h2 class= "game-title text-center">SCREENSHOTS</h2>
  </div>
  <% screenshots.each do |pic|%>
    <% unless pic.id.nil? %>
      <%= link_to game_screenshot_path(pic.game_id, pic) do %>
        <span id="<%= pic.id %>" class="this-pic"><%= image_tag pic.picture.url(:medium), class: "img-fluid" %></span>
      <% end %>
    <% end %>
  <% end %>
