@import "bootstrap";

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
    width: 500px;
}

.game-form {
    padding: 1.5rem;
    margin: auto;
    border-width: .2rem;
    width: 550px;
    border: solid #666666;
}

.description {
    padding: 5px;
    border: 1px solid black;
    background: rgba(191, 191, 191, 0.25);
    margin-bottom: 5px;
    margin-right: auto;
}

.game-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('gaming-pattern.png');
  font-family: 'Oswald', sans-serif;
}

.navbar {
  background: image_url('nav-pic.png');
  box-shadow: 0px 2px 5px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  font-family: 'Press Start 2P', cursive;
}

.game-title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 350%;
  letter-spacing: 2px;
}

.game-box-uncomplete {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(106, 179, 193, .25);
  border: 1px solid #46656b;
  // border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-box-complete {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(12, 206, 3, .25);
  border: 1px solid #0b6b18;
  // border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
